
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

.containerAllAnimal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    /* grid-template-rows: 50% 50%; */
  }
  .h2NameAnimalBlue{
    font-size: 1em;
    font-weight: 600;
    padding: 0;
  }
  
  .containerOneAnimal{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em 0; 
  }
  
  .h1BlueCenteredUppercase{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(78, 111, 155, 1);
     text-align: center;
    margin: 1em 0 0 0;
  }


  .greenSmallBtn{
    background-color: #4e6f9b;
    
  } 

.animaContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.animalDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

}