.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    h1{
        color: #172A3A;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        margin: 1.5rem 0;
    }
   #contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
      
       label{
           font-weight: 700;
           color:#172A3A;
           margin: 0.5rem 0 0 0;
           font-size: 0.8rem;
       }
   }

   .contact-input,  .contact-textarea {
       width: 50vh;
       margin: 0.5rem 0;
       background-color: rgba(226, 220, 220, 0.5);
       padding: 1rem;
       border: none;
       border-radius: 10px;
       }
    .contact-input{
        height: 2rem;
    }
   .contact-textarea{
        height: 10rem;
   }

   .input-submit{
    background-color: #4e6f9b;
    font-weight: 700;
    font-size: 0.7em;
    min-width: 7rem;
    border-radius: 10px;
    color:white; 
    border: none;
    padding: 0.5rem;
    box-shadow: 2px 2px 10px rgba(122, 122, 122,0.5);
   }
}

@media screen and (min-width: 700px) {
    .container-form{
        .contact-input, .contact-textarea {
            width: 100vh;
            }
        
            .contact-input{
                height: 2rem;
            }
           .contact-textarea{
                height: 15rem;
           }
           #contact-form{
            label{
                font-weight: 700;
                font-size: 1rem;
            }
           }

   .input-submit{
        padding: 0.8rem;
        margin: 1rem;
   }
    }
}