
.landing-page-container{
    margin: 0 1rem;

    h2{
        padding: 0 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;        
        font-weight: 600;
        color: #172A3A;
    }
    .paragraph-landing-page{
        width: 40vh;
        font-size: 0.9rem;
        padding: 1rem;  
        font-weight: 300;
    }
}
.title{
   
    padding: 2rem 1rem 1rem 1rem;

    h1{
        color: #172A3A;
        font-size:2rem; 
        text-transform: uppercase;
        // margin: 1rem 0.2rem;
        font-weight: 700;

    }
   

}
.icone{
    width: 5em;
    height: 5em;
    margin: 0 0 1em 0;
}


.grid-items-actions{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 1rem 0;
  }
  
  .div-action{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgba(226, 220, 220, 0.5);


    .paragraph-description-white-centered{
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        margin: 1rem 0;
    }
  }

  @media screen and (min-width: 1200px) {

    
    .landing-page-container{
        margin: 0 5rem ;
        .paragraph-landing-page{
            width: 70vh;
            font-size: 1rem;
        }
    }
    .grid-items-actions{
        display: flex;
        .h3-blue-bold{
            font-size: 1.5rem;
        }

    .paragraph-description-white-centered{
        font-size: 0.9rem;
        text-align: center;
        }
        .div-action{
            max-width: 20vw;
        }
      }


}